<!DOCTYPE html>
<html>
  <head>
    <title>WagonStaff</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= $CHA_BEGIN %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= javascript_importmap_tags %>
    <%#= $CHA_END %>
  </head>

  <body>
    <%#= $ERASE_BEGIN %>
    <%= yield %>
    <%#= $ERASE_END %>
  </body>
</html>
